# For more information, see the following link:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global, default code owners for the entire repository.
# Responsible for reviewing any code changes that do not have a more specific owner.
*               @cycle/core-contributors

# @cycle/infrastructure is responsible to review "support/health/infra files".
.github/        @cycle/infrastructure
.*              @cycle/infrastructure
.*.yml          @cycle/infrastructure
.*.yaml         @cycle/infrastructure
*.md            @cycle/infrastructure

# @cycle/contributors and @cycle/core-contributors are responsible to review "core" files.
resources/      @cycle/core-contributors @cycle/contributors
src/            @cycle/core-contributors @cycle/contributors
tests/          @cycle/core-contributors @cycle/contributors

# all teams are responsible to review dependency and test configuration files.
composer.*      @cycle/core-contributors @cycle/contributors @cycle/infrastructure
infection.*     @cycle/core-contributors @cycle/contributors @cycle/infrastructure
*.xml           @cycle/core-contributors @cycle/contributors @cycle/infrastructure
