# For more information, see the following link:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global, default code owners for the entire repository.
# Responsible for reviewing any code changes that do not have a more specific owner.
*               @cycle/core-contributors

# @roxblnfk and @lotyp are responsible to review "support/health/infra files".
.github/        @lotyp @cycle/core-contributors
.*              @lotyp @cycle/core-contributors
.*.yml          @lotyp @cycle/core-contributors
.*.yaml         @lotyp @cycle/core-contributors
*.md            @lotyp @cycle/core-contributors

# @cycle/contributors are responsible to review the rest of the files.
resources/      @roxblnfk @cycle/contributors
src/            @roxblnfk @cycle/contributors
tests/          @roxblnfk @cycle/contributors
composer.*      @roxblnfk @cycle/contributors
infection.*     @roxblnfk @cycle/contributors
*.xml           @roxblnfk @cycle/contributors
