# https://docs.docker.com/compose/reference/envvars/#compose_project_name
# With custom namespace provided, it will be used to prefix all services
# in Docker network for current project
COMPOSE_PROJECT_NAME=cycle-database
APP_ENV=production

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432

DB_DATABASE=default
DB_USERNAME=root
DB_PASSWORD=password

DB_SQLSERVER_FORWARD_PORT=11433
DB_MYSQL_FORWARD_PORT=13333
DB_PGSQL_FORWARD_PORT=15333

XDEBUG_MODE=coverage

GITHUB_TOKEN=ghp_
