/.github                export-ignore
/.editorconfig          export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/.php-cs-fixer.dist.php export-ignore
/tests                  export-ignore
/*.xml                  export-ignore
/*.yml                  export-ignore
/*.lock                 export-ignore
