language: php

php:
  - 7.1
  - 7.2
  - nightly

before_install:
  - composer self-update
  - mysql -e 'CREATE DATABASE spiral;'
  - psql -c 'create database spiral;' -U postgres

install:
  - composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit